body{
  background:black;
  overflow:hidden;
  margin:0;
}
.message{
  font-family: 'Mountains of Christmas', cursive;
  font-size: 200%;
  text-align:center;
  color:#FFF;
  margin:0px auto;
}
canvas{
  background:#000;
}